<div class=" form header">
  <h1>Oh !!! Keep Your Password Safe</h1>
  <h3>Enter Your Email To Reset Password</h3>
  <div class="container">
    <div class="details">
      <form [formGroup]="forgetpwform">
        <div>
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" formControlName="email">
          <span class="errmsg" *ngIf="email && email.invalid && email.touched">Please Enter Valid Email</span>
        </div>        
        <button [disabled]="forgetpwform.invalid"  routerLink="" class="btn" tabindex="-1" role="button" aria-disabled="true">Submit Request</button>
        <a routerLink="/" class="btn btn-outline-danger" tabindex="-1" role="button">Cancel</a>
      </form>
    </div>
    <div class="bottom">
      <p>
        <fa-icon [icon]="faFcebook" [ngStyle]="{color:'#24272E', margin:'4%'}"></fa-icon>
        <fa-icon [icon]="faLinkedin" [ngStyle]="{color:'#24272E' , margin:'4%'}"></fa-icon>
        <fa-icon [icon]="faInsta" [ngStyle]="{color:'#24272E', margin:'4%'}"></fa-icon>
        <br>
        &copy;Allright Reserved
      </p>
    </div>
  </div>
</div>