<div class="row">
  <div class="col-12 col-md-6 header">
    <h1>Easy Manage</h1>
    <h3>Manage All Your Assets Easily</h3>
    <img src="../../../assets/images/undraw_Real_time_sync_re_nky7.png" alt="" class="home-img">
  </div>
  <div class="col-12 col-md-6 form header">
    <h1>Hello!! Welcome Back</h1>
    <h3>Login with your email and password</h3>
    <div class="container">
      <div class="details">
        <div>
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
        </div>
        <div>
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="your password">
        </div>
        <div class="pt-2">
          <h6>Forget Password?</h6>
        </div>
        <a href="#" class="btn btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Login</a>
        <div class="line">
          <hr> or
          <hr>
        </div>
        <a href="#" class="btn btn-lg " tabindex="-1" role="button" aria-disabled="true">Create Account</a>
      </div>
      <div class="bottom">
        <p>
          <fa-icon [icon]="faFcebook" [ngStyle]="{color:'#24272E', margin:'4%'}"></fa-icon>
          <fa-icon [icon]="faLinkedin" [ngStyle]="{color:'#24272E' , margin:'4%'}"></fa-icon>
          <fa-icon [icon]="faInsta" [ngStyle]="{color:'#24272E', margin:'4%'}"></fa-icon>
          <br>
          &copy;Allright Reserved
        </p>
      </div>
    </div>
  </div>
</div>