.form{
    background-color:#7F42FC;
    min-height: 100vh;
    color: aliceblue;
}
.details{
    width: 70%;
    margin-top: 5%;
    margin-left: 3%;
}
.details label{
    margin-top: 5%;
}
.details .btn{
    width: 100%;
    margin-top: 5%;
    background-color: #24272E;
    color: aliceblue;
}
.details .line{
    display: flex;
    margin-top: 3%;
    align-items: center;
}
.details .line hr{
    margin: 5%;
    width: 50%;
}
.bottom{
    margin-left: 12%;
    bottom: 0;
    position: absolute;
    text-align: center;
}

