<div class=" form header">
  <h1>Hello!! Welcome Back</h1>
  <h3>Login with your email and password</h3>
  <div class="container">
    <div class="details">
      <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
        <div>
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="name@example.com"
            formControlName="emailId">
          <span class="errmsg" *ngIf="email && email.invalid && email.touched">Please Enter Valid Email</span>
        </div>
        <div>
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="your password"
            formControlName="password">
          <span class="errmsg" *ngIf="password && password.invalid && password.touched">Please Provide Valid
            Password</span>
        </div>
        <div class="pt-2">
          <h6 routerLink="/forgetPassword" [ngStyle]="{cursor:'help'}">Forget Password?</h6>
        </div>
        <button [disabled]="loginform.invalid" type="submit" class="btn" tabindex="-1" role="button" aria-disabled="true">Login</button>
        <div class="line">
          <hr> or
          <hr>
        </div>
        <a routerLink="/signup" class="btn" tabindex="-1" role="button" aria-disabled="true">Create Account</a>
      </form>
    </div>
    <div class="bottom">
      <p>
        <fa-icon [icon]="faFcebook" [ngStyle]="{color:'#24272E', margin:'4%'}"></fa-icon>
        <fa-icon [icon]="faLinkedin" [ngStyle]="{color:'#24272E' , margin:'4%'}"></fa-icon>
        <fa-icon [icon]="faInsta" [ngStyle]="{color:'#24272E', margin:'4%'}"></fa-icon>
        <br>
        &copy;Allright Reserved
      </p>
    </div>
  </div>
</div>