<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 header">
            <app-background></app-background>
        </div>
        <div class="col-12 col-md-6 form header">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <div >

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="50" class="sec1" fxFlex.xs="55">
			<app-background fxFlex></app-background>
		</div>
		<div fxFlex="50" class="sec2">
			<router-outlet fxFlex></router-outlet>
		</div>

	</div>

</div> -->
