<div>
  <h1>Create Your Accounnt Here</h1>
  <h3>Enter Your Details Here To Create</h3>
  <div class="container">
    <div class="details">
      <div>
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="emailInput"
          placeholder="name@example.com"
        />
      </div>
      <div>
        <label for="" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordInput"
          placeholder="your password"
        />
      </div>
      <div>
        <label for="" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="conpasswordInput"
          placeholder="Confirm password"
        />
      </div>

      <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"
        >Create Account</a
      >
    </div>
    <div class="bottom">
      <p>
        <fa-icon
          [icon]="faFcebook"
          [ngStyle]="{ color: '#24272E', margin: '4%' }"
        ></fa-icon>
        <fa-icon
          [icon]="faLinkedin"
          [ngStyle]="{ color: '#24272E', margin: '4%' }"
        ></fa-icon>
        <fa-icon
          [icon]="faInsta"
          [ngStyle]="{ color: '#24272E', margin: '4%' }"
        ></fa-icon>
        <br />
        &copy;Allright Reserved
      </p>
    </div>
  </div>
</div>
