<nav class="side-nav">
  <div class="nav-item-wrapper">
    <ul class="nav-item-list">
      <li class="nav-item">
        <fa-icon [icon]="faThLarge"></fa-icon>
        <h4>Dashboard</h4>
      </li>
      <li class="nav-item active-list-item">
        <fa-icon [icon]="faUserFriends"></fa-icon>
        <h4>Users Info</h4>
      </li>
      <li class="nav-item">
        <fa-icon [icon]="faLaptopMedical"></fa-icon>
        <h4>Assets Info</h4>
      </li>
      <li class="nav-item">
        <fa-icon [icon]="faBuilding"></fa-icon>
        <h4>Department Info</h4>
      </li>
      <li class="nav-item">
        <fa-icon [icon]="faChartBar"></fa-icon>
        <h4>Reports</h4>
      </li>
    </ul>
  </div>
  <div class="log-out-wrapper">
    <div (click)="logout()" class="log-out">
      <fa-icon
        class="log-out-icon"
        [icon]="faPowerOff"
        transform="shrink"
      ></fa-icon>
      Log Out
    </div>
  </div>
</nav>
