@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.form{
  background-color:#7F42FC;
  min-height: 100vh;
  color: aliceblue;
}
.header h1 {
  margin-top: 5%;
  margin-left: 5%;
}

.header h3 {
  margin-left: 5%;
}

.home-img {
  width: 100%;
}

